<html>
  <body>
    <nav>NAVBAR</nav>
    <h1>Welcome to Login</h1>

    <p>Enter your username and password</p>

    <form action="http://localhost:5000/result" method="POST">
      <p>Username <input type="text" name="Username" /></p>
      <p>Password <input type="text" name="Password" /></p>

      <p><input type="submit" value="submit" /></p>
    </form>
    <form action="http://localhost:5000/signup" method="GET">
      <p><input type="submit" value="signup" /></p>
    </form>
  </body>
</html>
